<div id="page-wrapper" ng-controller="BlogController as bctrl">
	<div id="page-inner">
		<br /> <a class="btn btn-success" href="#/new_blog"> CREATE NEW </a>
		<br /> <br />

		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-primary">
					<!-- Default panel contents -->
					<div class="panel-heading">Blogs</div>

					<!-- Table -->
					<table class="table">
						<thead>
							<tr>
								<th>Title</th>
								<th>On Date</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="bloglist in bctrl.blogdata"
								class="list-group-item-success">


								<td><span ng-bind="bloglist.blog_id"></span></td>
								<td><span ng-bind="bloglist.blog_title"></span></td>
								<td>
										<input type="submit" class="btn btn-primary " value="Edit"
											ng-click="bctrl.edit(bloglist.blog_id)">
									</td>
								<td>
										<input type="submit" class="btn btn-primary " value="Delete"
											ng-click="bctrl.remove(bloglist.blog_id)">
									
									</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>