

<!--PAGE CONTENT -->
<div id="content">

	<div class="inner" style="min-height: 700px;">
		<div ng-controller="ForumController as fctrl">
			<div class="col-lg-4" ng-repeat="flist in fctrl.forumdata">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>
							<span ng-bind="flist.forum_name"></span>
						</h3>

					</div>
					<div class="panel-body">
						<h5>
							<span ng-bind="flist.forum_category"></span>
							</h5>
							<h3>
								<span ng-bind="flist.forum_description"></span>
								</h3>
					</div>
					<div class="panel-footer">
						<form name="myEdit">
							<input type="submit" value="Edit"
								ng-click="fctrl.edit(flist.forum_id)" class="btn btn-warning">
						</form>
						<form name="myDelete">
							<input type="submit" value="Delete"
								ng-click="fctrl.remove(flist.forum_id)" class="btn btn-danger">
						</form>
					</div>
				</div>
			</div><br><br><br>
			<form name="myForm">

				<input type="hidden" ng-model="forum.forum_id" /><br>
				<input type="hidden" ng-model="enabled" /><br> 
				Forum Name:<input	type="text" ng-model="forum.forum_name" placeholder="name"	class="form-control" /><br> 
					Description:<input type="text" 	ng-model="forum.forum_description" placeholder="description"	class="form-control" /><br> 
					Category:<input type="radio" name="category" ng-model="forum.forum_category" value="Social" checked
					class="">Social
					  <input type="radio" name="category"
					value="personal" ng-model="forum.f_category" > Personal<br>

				
				<input type="submit" value="{{!forum.forum_id ? 'Add' : 'Update'}}"	ng-click="fctrl.submit()" class="btn-info" /> 
					<input type="reset"	value="reset" ng-click="fctrl.reset()" class="btn-warning" />

			</form>
		</div>

	</div>
	<!--END PAGE CONTENT -->


</div>