<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>users</title>
</head>
<script src="resources/angular.js"></script>
<script src="resources/app.js"></script>
<script src="resources/User/user_controller.js"></script>
<script src="resources/User/userservice.js"></script>
<body ng-app="myApp">
<div ng-controller="UserController as uctrl">
<table>
<tr>
<td>id </td>
<td>name</td>
</tr>
<tr ng-repeat="list in uctrl.userdata">
<td><span ng-bind="list.userId"></span> </td>
<td><span ng-bind="list.u_name"></span></td>
<td><form name="myEdit"><input type="submit" value="Edit" ng-click="uctrl.edit(list.userId)"></form></td>
<td><form name="myDelete"><input type="submit" value="Delete" ng-click="uctrl.remove(list.userId)"></form></td>
</tr>
</table>
<form name="myForm">

	<input type="hidden" ng-model="user.userId" /><br><input type="hidden" ng-model="enabled" /><br>
	Name:<input type="text" ng-model="user.u_name" placeholder="name"/><br>
	Address:<input type="text" ng-model="user.u_address" placeholder="address"/><br>
	Username:<input type="text" ng-model="user.u_username" placeholder="username"/><br>
	Password:<input type="password" ng-model="user.u_password" placeholder="password"/><br>
	
	gender:<input type="radio" name="gender" ng-model="user.u_gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female" ng-model="user.u_gender"> Female<br>
	
contact:<input type="text" ng-model="user.u_contact" placeholder="contact"/><br>
	DOB:<input type="text" ng-model="user.u_dob" placeholder="dob"/><br>
	Email:<input type="text" ng-model="user.u_email" placeholder="Email"/><br>
	<input type="submit" value="{{!user.userId ? 'Add' : 'Update'}}" ng-click="uctrl.submit()" />
	<input type="reset" value="reset" ng-click="uctrl.reset()" />
	
</form>
</div>
</body>
</html>