<div class="container" ng-controller="FriendController as vctrl">

	<p>
	<p>
	<p>
	<p>
	
	<p>
	<p>
	<p>
	<p>
	
	<div class="form-group has-feedback" ng-init="vctrl.getMyFriends()">

  view for friend

  <p><input type="text" ng-model="sear_text"></p>


	<div ng-repeat="friend in vctrl.friends | filter: sear_text" >

		<fieldset>
			<legend></legend>
<div ng-if=" friend.userID === currentUser.userId" ng-init="vctrl.getMyUserByID(currentUser.userId)" >
 Name friend: {{friend.friendID}}
</div>
<div ng-if="friend.userID!== currentUser.userId" ng-init="vctrl.getMyUserByID(friend.userID)">
 
Name user: {{friend.userID}}
</div>

			<!-- <p>Name: {{friend.friendID}} &nbsp; &nbsp;&nbsp; Status: {{friend.status}} -->
			<a href="#/chat">Send Message</a>
			

			
		</fieldset>
	</div>
	</div>


</div>